<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Viewer</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="h-100 w-100 min-h-screen bg-zinc-900 p-10 text-white ">
        <a href="/" class="text-blue-500 inline-block mb-8"> Go back to home</a>
        <h1 class="text-[1.5rem] mb-5"><%= file_name.slice(0,-4) %></h1>
        <p><%= file_details %></p>
    </div>
</body>
</html>